#resolution-render-container {
	font-family: 'Orbitron', sans-serif;
	background-color: darkgrey;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

p {
	font-size: 10px;
}