html {
  background-color: black;
}

.portal-wrapper {
  /* background-image: url("https://i.ytimg.com/vi/T8-YdgU-CF4/maxresdefault.jpg"); */
  background-image: url("http://wallpapers4screen.com/Uploads/30-3-2016/29445/un-flag-un-emblem-logo-united-nations-un.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  /*background-height: 100%;*/
  margin-left: 28px;

}

.portal-header {
  font-size: 600%;
  text-align: center;
  margin-top: 70px;
  color: white;
}

.form-group {
  text-align: center;
  margin-top: 700px;
}

.form-text {
  font-size: 24px;
}