body {
  font-family: "Press Start 2P";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  background-color: white;
}

.wrapper {
  height: 25vh;
  width: 25vw;
}

.chat-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar main";
  width: 80vw;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  bottom: 0;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

#main {
  grid-area: main;  
}

#new-message {
  bottom: 0;
  padding: 10px;
  float: right;
}

#messages-list {
  padding: 5px 0 0 5px;
}

#sidebar {
  grid-area: sidebar;
  padding: 20px;
  border-right: 1px solid #3f3f3f;
  height: 100%;
}