.navbar {
	width: 100%;
	background-color: black;
	position: fixed;
	height: 22%;
}

span {
	/*display: block;*/
	width: fill;
}

.navbar-wrapper {
	margin: 0;
}

#un-two {
	margin-top: 10px;
	height: 18vh;
}

#reroute {
	float: right;
	font-family: 'Orbitron', sans-serif;
	color: red;
	padding-top: 40px;
}


