body {
	background-color: black;
	background-image: none;
	color: white;
}

.page-wrapper {
	margin-top: 15%;
}

#main-content {
	margin-bottom: 10px;
}

/*.carousel-inner {
	height: auto;
	padding: 10px 50px;
}*/